html {
  font-family: Arial;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1em;
}

h1, h2, h3, h4 { margin-top: 0; }

section {
  background-color: #333;
  border-radius:5px;
  padding: 1em;
  width: 60em;
  margin: 2em auto;
}

.mods th:first-child {
  font-weight: bold;
  font-size: 1.2em;
}

.total-box {
  position: fixed;
  right: 3em;
  bottom: 2em;
  background-color: #333;
  padding: 1em 2em;
  border-radius:5px;
}

#total { font-size: 2.5em; }

::selection {
  background-color: #3effab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  text-align: center;
  width: 4em;
  padding: 0.25em;
  border-width: 0.25em;
  border-style: double;
  background-color: #000;
  color: #fff;
}
input:focus {
  border-style: solid;
  background-color: #222;
}


table {
  text-align: center;
  margin: 0 auto;
}

caption, th, td {
  white-space: nowrap;
  padding: 0.5em 1em;
}

th {
  font-weight: normal;
}
.groups th {
  font-weight: bold;
}

caption {
  font-size: 1.5em;
  line-height: 2em;
}
colgroup {
  border: 1px solid #ccc;
}

input[name$=-c] {
  border-color: #8cffbd;
}
input[name$=-r] {
  border-color: #ad8eff;
}
input[name$=-vr] {
  border-color: #ff8eff;
}

input[name$=_01] {
  border-color: #ffcf57;
}
input[name$=_02] {
  border-color: #ffa52e;
}
input[name$=_03] {
  border-color: #ff7110;
}
input[name$=_04] {
  border-color: #e60000;
}
input[name$=_05] {
  border-color: #fe2692;
}
input[name$=_06] {
  border-color: #ef24ce;
}
input[name$=_07] {
  border-color: #c321e2;
}
input[name$=_08] {
  border-color: #9624f8;
}
input[name=ada] {
  border-color: #63ffff;
}
input[name=jarvis] {
  border-color: #3effab;
}
input[name=keys] {
  border-color: #fff0ad;
}
